.r1{
   background-color: yellowgreen; 
}
.r2{
    background-color:#808080dd ; 
 }
 .r3{
    background-color:rgba(128, 0, 128, 0.746) ; 
 }
 .r4{
    background-color:lightskyblue ; 
 }
 .r5{
    background-color:goldenrod ; 
 }
 #id6{
    background-color: rgb(109, 52, 11); 
 }
 #id7{
    background-color: rgb(214, 182, 182); 
 }
 #id8{
    background-color: rgb(19, 184, 11); 
 }
 #id9{
    background-color: rgb(244, 172, 38); 
 }
 #id10{
    background-color: rgb(184, 60, 19); 
 }